<div class="contents_row clearfix" >
  <div class="content_post clearfix">
    <p class="kotowaza"><%= @proverb.text %></p>
    <!--<span class="name">by <%= @proverb.user.nickname %></span>-->
  </div>
  <div class="container clearfix"> 
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_for [@proverb, @comment] do |f| %>
        <div>
          <%= f.label :評価 %>
          <%= f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1 %>
          ※10段階評価
        </div>
        <div>
          <%= f.text_area :text, placeholder: 'レビューを書いてね！', :size => "60x10" %>
        </div>
        <input type="submit" value="SEND" class="btn-square-pop">
      <% end %>
    <% end %>
  </div>
  <div class="comments">   
    <h4>＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <div><%= link_to 'delete', "/proverbs/#{@proverb.id}/comments/#{comment.id}", method: :delete %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <a class="btn-square-pop" href="/">back</a>
</div>