<!DOCTYPE html>
<html>
  <head>
    <title>Kotowazz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_left">
        <h1><a href="/">kotowaza ranking</a></h1>
      </div>
      <div class="header_right">
        <div class="post">
          <a href="/proverbs/new">logout</a>
        </div>
        <div class="post">
          <a href="/proverbs/new">new</a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
